@{
    ViewData["Title"] = "Home";
}

<div class="banner-container">
    <div class="banner">
        <img src="~/Resources/CU-crowd.jpg" />
        <h1>Contoso University</h1>
        <p>Empowering Minds | Expanding Futures</p>
    </div>
</div>

<div class="row bg-2 span">
    <div class="col-md-4">
        <h4>Your Major</h4>
        <p>explore the degrees & programs available.</p>
    </div>
    <div class="col-md-4">
        <h4>Tuition & Aid</h4>
        <p>See how affordable a quality education can be</p>
    </div>
    <div class="col-md-4">
        <h4>Campus Tours</h4>
        <p>Come see and feel the spirit of BYU-Idaho.</p>
    </div>
</div>

<div id="content" class="container">
    
    <div class ="bg-1">
        <article>
            <h4>Affordable Programs</h4>
            <p>At Contoso University, we believe in accessible education. Our affordable programs are designed to cater to a wide range of budgets without compromising on the quality of education. Invest in your future without breaking the bank.</p>
        </article>
        <article>
            <h4>High-Quality Education</h4>
            <p>Experience high-quality education delivered by our dedicated faculty members. At Contoso University, we prioritize academic excellence, providing you with the knowledge and skills needed to excel in your chosen field.</p>
        </article>
        <article>
            <h4>Convenient Learning</h4>
            <p>Choose the convenience of flexible schedules and online resources at Contoso University. Our commitment to convenient learning allows you to balance your education with other commitments, making it easier to achieve your academic goals.</p>
        </article>
    </div>
</div>


